# Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente
.env
.env.*

# Virtual environment
venv/
.venv/

# Pytest
.pytest_cache/
*.pytest_cache

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/